<ion-content>
  <div class="center">
    <img class="logo" src="assets/logo-full.png">
    <ion-row class="login-form">
      <ion-col>
        <ion-segment [(ngModel)]="authMode">
          <ion-segment-button value="login">
            LOGIN
          </ion-segment-button>
          <ion-segment-button value="register">
            REGISTER
          </ion-segment-button>
        </ion-segment>
        <ion-list inset>
          <ion-item>
            <ion-label><ion-icon name="{{ authMode == 'login' ? 'person' : 'mail' }}"></ion-icon></ion-label>
            <ion-input [(ngModel)]="email" placeholder="email{{ authMode == 'login' ? ' / username' : '' }}" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="authMode == 'register'">
            <ion-label><ion-icon name="at"></ion-icon></ion-label>
            <ion-input [(ngModel)]="username" placeholder="username" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="authMode == 'register'">
            <ion-label><ion-icon name="person"></ion-icon></ion-label>
            <ion-input [(ngModel)]="firstName" placeholder="first name" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="authMode == 'register'">
            <ion-label><ion-icon name="people"></ion-icon></ion-label>
            <ion-input [(ngModel)]="lastName" placeholder="last name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><ion-icon name="lock"></ion-icon></ion-label>
            <ion-input [(ngModel)]="password" placeholder="password" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button full (click)="auth()" color="primary" class="login-button">{{ authMode }}</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
