// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 400;
  src: url(../assets/fonts/OpenSans/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 100;
  src: url(../assets/fonts/OpenSans/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 100;
  src: url(../assets/fonts/OpenSans/OpenSans-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 500;
  src: url(../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 700;
  src: url(../assets/fonts/OpenSans/OpenSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 900;
  src: url(../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 900;
  src: url(../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf) format('truetype');
}

ion-navbar {
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  .toolbar-background {
    background-color: color($colors, primary);
    border-bottom: none !important;
  }
  .toolbar-title {
    color: #fff;
  }
  .profile-avatar {
    .bar-button {
      .button-inner {
        img {
          height: 32.5px;
          width: 32.5px;
          border-radius: 50%;
          box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        }
      }
    }
  }
  .back-button {
    color: #fff;
  }
  .back-button:hover {
    color: rgba(255,255,255,0.5) !important;
  }
  .bar-buttons {
    .bar-button {
      color: #fff;
    }
    .bar-button:hover {
      color: rgba(255,255,255,0.5);
    }
  }
  ion-searchbar .searchbar-input {
    background-color: #fff !important;
    height: 35px !important;
  }
  ion-searchbar .searchbar-search-icon {
    top: 12px !important;
  }
}

ion-tabs {
  .tabbar {
    border-top: 2px solid rgba(0, 0, 0, 0.05) !important;
  }
  .tab-button-text {
    font-weight: 700;
  }
}

ion-menu {
  hr {
    height: 1px !important;
  }
  .header {
    .settings-button {
      position: absolute;
      top: 12px;
      right: 16px;
      width: 30px;
      height: 30px;
    }
    img {
      margin-top: 16px;
      margin-left: 16px;
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 100%;
    }
    h4 {
      font-weight: 700;
      letter-spacing: -1px;
      margin: 8px 16px 0px;
    }
    p {
      margin: 0px 16px 16px;
      color: #999999;
    }
  }
  .pages {
    ion-icon {
      color: #000;
    }
    .main-buttons {
      border-top: none !important;
      .item-inner {
        border-bottom: none;
        font-weight: 400;
        background-image: none;
      }
    }
    .other-buttons {
      border-bottom: none !important;
      .item-inner {
        border-bottom: none;
        font-weight: 100;
        background-image: none;
      }
    }
  }
}

ion-segment {
  ion-segment-button {
    font-weight: 500;
  }
}