// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Ubuntu';
  src: url(../assets/fonts/Ubuntu-Regular.ttf) format('truetype');
  font-weight: normal;
}

ion-navbar {
  .toolbar-background {
    background-color: color($colors, primary);
    border-bottom: none !important;
  }
  .toolbar-title {
    color: #fff;
  }
  .profile-avatar {
    .bar-button {
      .button-inner {
        img {
          height: 32.5px;
          width: 32.5px;
          border-radius: 50%;
          box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        }
      }
    }
  }
  .bar-buttons {
    .bar-button {
      color: #fff;
    }
    .bar-button:hover {
      color: rgba(255,255,255,0.5);
    }
  }

  ion-searchbar .searchbar-input {
    background-color: #fff !important;
    height: 35px !important;
  }

  ion-searchbar .searchbar-search-icon {
    top: 12px !important;
  }
}

ion-tabs {
  .tabbar {
    border-top: none !important;
  }
  .tab-button-text {
    font-weight: 700;
  }
}

ion-menu {
  hr {
    display: none;
  }
  .header {
    height: 60px;
    img {
      position: absolute;
      top: 12px;
      right: 16px;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 100%;
    }
    h4 {
      font-weight: 700;
      margin: 16px 16px 0px;
    }
    p {
      margin: 0px 16px 16px;
      color: #999999;
    }
  }
  .pages {
    ion-icon {
      color: color($colors, primary);
    }
    .main-buttons {
      .item-inner {
        font-weight: 500;
      }
    }
    .other-buttons {
      border-bottom: none !important;
      .item-inner {
        border-bottom: none;
        
      }
    }
  }
}