page-explore {
  .scroll-content {
    background-color: color($colors, light);
    padding: 10px;
  }
  .write-post {
    position: relative;
    width: 100%;
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 2px;
    ion-textarea {
      padding: 5px 10px;
      resize: none;
      height: 50px;
    }
    button {
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin: 10px;
      height: 30px;
    }
  }
  .writing-post {
    ion-textarea {
      height: 100px;
    }
  }
  .post {
    padding: 10px 20px 20px 70px;
    // max-width: 500px;
    margin: 10px auto;
    border-radius: 2px;
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.3);
    border-top: none !important;
    border-bottom: none !important;
    .avatar {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 100%;
    }
    .shared-post {
      background-color: #fff;
      border: 2px solid color($colors, light);
      margin-top: 10px;
      padding: 10px;
      border-radius: 2px;
      white-space: normal;
      height: auto;
      text-align: left;
      color: #000;
      .button-inner {
        display: block;
      }
      img {
        max-width: 150px;
      }
    }
    .item-inner {
      border-bottom: none !important;
    }
  }
}