<ion-header>

  <ion-navbar>
     <ion-buttons class="profile-avatar" left>
      <button ion-button menuToggle>
        <img *ngIf="authProvider.currentUser && authProvider.currentUser.imageUrl" [src]="authProvider.currentUser.imageUrl"> 
        <img *ngIf="!authProvider.currentUser || !authProvider.currentUser.imageUrl" src="assets/user-placeholder.png">
      </button>
    </ion-buttons>
     <ion-searchbar
      class="search-bar"
      [(ngModel)]="searchInput"
      (ionInput)="updateSearch()"
      placeholder="Search for people, courses, etc.">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="optionsPressed()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-textarea class="write-post" type="text" placeholder="Share something new."></ion-textarea>
  <ion-list>
    <ion-item class="post" *ngFor="let post of posts">
      <img *ngIf="post.imageUrl" [src]="post.imageUrl" class="avatar">
      <h2 *ngIf="post.firstName">{{ post.firstName }} {{ post.lastName }}</h2>
      <p *ngIf="post.text">{{ post.text }}</p>
      <div class="shared-post" (click)="openSharedPost(post.sharedPost)">
        <img *ngIf="post.sharedPost.img" [src]="post.sharedPost.img">
        <h3>{{ post.sharedPost.title }}</h3>
        <p>{{ post.sharedPost.text }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
