<ion-header>

  <ion-navbar>
     <ion-buttons class="profile-avatar" left>
      <button ion-button menuToggle>
        <img *ngIf="authProvider.currentUser && authProvider.currentUser.imageUrl" [src]="authProvider.currentUser.imageUrl"> 
        <img *ngIf="!authProvider.currentUser || !authProvider.currentUser.imageUrl" src="assets/user-placeholder.png">
      </button>
    </ion-buttons>
     <ion-searchbar
      class="search-bar"
      [(ngModel)]="searchInput"
      (ionInput)="updateSearch()"
      placeholder="Search for people, courses, etc.">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only class="options-button" (click)="optionsPressed()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content text-center>

</ion-content>
