page-task {
  @media only screen and (min-width: 500px) {
    ion-item:nth-of-type(1),
    ion-item:nth-of-type(2) {
      width: 96% !important;
      float: initial;
    }
    ion-item {
      width: 48% !important;
      float: left;
    }
  }
  ion-footer {
    height: 50px;
    .button {
      margin: 0px 0px;
      padding: 0px 0px !important;
      height: 101%;
      border-radius: 0px;
      width: 50%;
    }
    .button:nth-of-type(1) {
      background-color: #fff;
      color: color($colors, primary);
      box-shadow: none;
    }
    .button:nth-of-type(1):hover {
      background-color: #fff;
    }
    .button:nth-of-type(2) {
      float: right;
    }
  }
}
